pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
streamlit
PyPDF2
faiss-cpu
chromadb
lxml
langchain_huggingface
langchain_google_genai
pypdf
langchain-pinecone
pdfplumber
opensearch-py
astrapy
langchain_astradb